* {
  margin: 0;
}

.header {
  height: 115px;
  background-color: #fff;
}

.topNav {
  background-color: #77d7d3;
  height: 45px;
  display: flex;
  gap: 60rem;
}
.topNavnxt {
  width: 90%;
}

.bannerOuter {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 620px;
}

.aboutUsBoxes {
  width: 900px;
  height: 815px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -65px;
}

.aUI {
  display: flex;
  height: 300px;
}

.aUIbox1 {
  background-color: #77d7d3;
  width: 300px;
}
.aUIbox2 {
  background-color: #2e4049;
  width: 300px;
}
.aUIbox3 {
  background-color: #c420ae;
  width: 300px;
}

.aUM {
  display: flex;
  height: 400px;
}

.aUMbox1 {
  background-color: #77d7d3;
  width: 450px;
}
.aUMbox2 {
  background-color: blue;
  width: 450px;
}

.causes {
  height: 900px;
  background-color: antiquewhite;
}

.howWeHelp {
  height: 700px;
  background-image: linear-gradient(#2e4049e8, #2e4049e8),
    url(../assets/images/helpbg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.font-serif {
  font-family: "Sue Ellen Francisco";
}
